<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p><strong>Name: </strong><span th:text="${customer_name}"></span></p>
<p><strong>Order date: </strong><span th:text="${order.orderDate}"></span></p>
<p><strong>Total Before Tax: </strong>$<span th:text="${total_amount_before_tax}"></span></p>
<p><strong>Tax: </strong><span th:text="${tax}"></span>%</p>
<p><strong>Tax Amount: </strong>$<span th:text="${tax_amount}"></span></p>
<p><strong>Total After Tax: </strong>$<span th:text="${total_amount_after_tax}"></span></p>
<strong>Ordered Product List</strong>
<table border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="lineItem : ${order.orderLines}">
    <td th:text="${lineItem.product.productName}"></td>
    <td th:text="${lineItem.product.productType}"></td>
    <td th:text="${lineItem.product.price}"></td>
    <td th:text="${lineItem.quantity}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
